$color-text: #ddd;
$color-bg-body: transparent;

body
{
    margin: 0;
    color: $color-text;
    // background-color: $color-bg-body;

    font-family: "UbuntuMono";
}

@font-face {
    font-family: 'UbuntuMono';
    src: url('assets/font/UbuntuMono-Regular.ttf');
}