<div class="window">
    <div class="titlebar drag">
        <div class="icon">
            <div class="img"></div>
        </div>
        <div class="title">{{ title }}</div>
        <app-window-buttons class="btns"></app-window-buttons>
    </div>
    
    <div class="center">
        <div class="side"></div>

        <div class="content">
            <div class="bg"></div>
            <div class="outlet">
                <ng-content></ng-content>
            </div>
        </div>

        <div class="side"></div>
    </div>

    <div class="footer">

    </div>

    <div class="fade">
        
    </div>
</div>